In [5]:
import geopandas as gpd
import fiona

fiona.drvsupport.supported_drivers['LIBKML'] = 'rw'
all_data = gpd.read_file('chapter_08_data/chapter_08_data.kml')
all_data

,Name,description,timestamp,begin,end,altitudeMode,tessellate,extrude,visibility,drawOrder,icon,geometry
0,Iberia,None,NaT,NaT,NaT,None,-1,0,-1,None,None,"POLYGON Z ((-8.99346 37.08769 0.00000, -8.3873..."
1,Portugal,None,NaT,NaT,NaT,None,-1,0,-1,None,None,"POLYGON Z ((-8.89116 41.85535 0.00000, -9.6306..."
2,Road 1,None,NaT,NaT,NaT,None,1,0,-1,None,None,"LINESTRING Z (-9.17050 38.63791 0.00000, -8.64..."
3,Road 2,None,NaT,NaT,NaT,None,1,0,-1,None,None,"LINESTRING Z (-8.55244 40.68231 0.00000, -7.18..."
4,Road 3,None,NaT,NaT,NaT,None,1,0,-1,None,None,"LINESTRING Z (-8.71652 37.12463 0.00000, -7.59..."
5,Road 4,None,NaT,NaT,NaT,None,1,0,-1,None,None,"LINESTRING Z (-8.63854 41.15617 0.00000, -8.51..."
6,Road 5,None,NaT,NaT,NaT,None,1,0,-1,None,None,"LINESTRING Z (2.18149 41.29864 0.00000, -0.865..."
7,Bilbao,None,NaT,NaT,NaT,None,-1,0,-1,None,None,POINT Z (-3.01868 43.30943 0.00000)
8,Barcelona,None,NaT,NaT,NaT,None,-1,0,-1,None,None,POINT Z (2.01306 41.50882 0.00000)
9,Madrid,None,NaT,NaT,NaT,None,-1,0,-1,None,None,POINT Z (-3.72678 40.39636 0.00000)
10,Sevilla,None,NaT,NaT,NaT,None,-1,0,-1,None,None,POINT Z (-6.01832 37.42718 0.00000)
11,Malaga,None,NaT,NaT,NaT,None,-1,0,-1,None,None,POINT Z (-4.42530 36.75238 0.00000)
12,Porto,None,NaT,NaT,NaT,None,-1,0,-1,None,None,POINT Z (-8.56714 41.19960 0.00000)
13,Lissabon,None,NaT,NaT,NaT,None,-1,0,-1,None,None,POINT Z (-9.08350 38.72438 0.00000)
14,Faro,None,NaT,NaT,NaT,None,-1,0,-1,None,None,POINT Z (-7.90616 37.11447 0.00000)
15,Santiago de Compostella,None,NaT,NaT,NaT,None,-1,0,-1,None,None,POINT Z (-8.54272 42.92122 0.00000)

In [ ]:
import contextily as cx

# plotting all data
ax = all_data.plot(markersize=128, figsize=(15,15), edgecolor='black', facecolor='none')

# adding a contextily basemap
cx.add_basemap(ax, crs=all_data.crs)

In [ ]:
# filter the data based on name
iberia = all_data[all_data['Name'] == 'Iberia']
iberia

In [ ]:
# filtering the data based on name
portugal = all_data[all_data['Name'] == 'Portugal']
portugal

In [ ]:
# overlay to remove portugal from Iberia and create spain
spain = iberia.overlay(portugal, 'difference')
# plot the resulting polygon of spain
spain.plot()

In [ ]:
spain

In [ ]:
spain.Name = 'Spain'
spain

In [ ]:
# plot the new Spain polygon
ax = spain.plot(figsize=(15,15), edgecolor='black', facecolor='none')
# add a contextily basemap
cx.add_basemap(ax, crs=spain.crs)

In [ ]:
from shapely.geometry.point import Point
cities_filter = all_data.geometry.apply(lambda x: type(x) == Point)
cities = all_data[cities_filter]
cities

In [ ]:
spanish_cities = cities.overlay(portugal, 'difference')
spanish_cities

In [ ]:
ax = spain.plot(figsize=(15,15), edgecolor='black', facecolor='none')
spanish_cities.plot(ax=ax, markersize=128)
cx.add_basemap(ax, crs=spain.crs)

In [ ]:
from shapely.geometry.linestring import LineString
roads_filter = all_data.geometry.apply(lambda x: type(x) == LineString)
roads = all_data[roads_filter]
roads

In [ ]:
ax = spain.plot(figsize=(15,15), edgecolor='black', facecolor='none')
spanish_cities.plot(ax=ax, markersize=128)
roads.plot(ax=ax, linewidth=4, edgecolor='grey')
cx.add_basemap(ax, crs=spain.crs)

In [ ]:
spanish_roads = roads.overlay(portugal, 'difference')
spanish_roads

In [ ]:
ax = spain.plot(figsize=(15,15), edgecolor='black', facecolor='none')
spanish_cities.plot(ax=ax, markersize=128)
spanish_roads.plot(ax=ax, linewidth=4, edgecolor='grey')
cx.add_basemap(ax, crs=spain.crs)